.con{
display: flex;
flex-direction: column;
width: 100%;
height: 100vh;
    
    
    .edit {
        display: flex;
        margin-top: 5%;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80vh;
  flex-direction: column;
  gap: 30px;
  
  .editcard {
    width: 80%;
    height: 400px;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    
    .top {
        width: 100%;
      height: 15%;
      
      input {
          border: none;
        padding-left: 20px;
        font-size: 1rem;
        width: 100%;
        height: 100%;
      }
    }

    .details {
        width: 100%;
        height: 15%;
        
      input {
          border: none;
          padding-left: 20px;
          font-size: 1rem;
          width: 100%;
          height: 100%;
        }
    }
}

  .btn {
      width: 170px;
    padding: 0.5rem 2rem;
    svg {
        margin-left: 10px;
    }
}
}

.btncancel {
     position: absolute;
    top: 5%;
    right: 10%;
    margin-bottom: 5%;

    padding: 0.5rem ;
    width: 170px;
    height: 5vh;
    svg{
        margin-left: 10px;
    }
}

}